.main-nav {
  display: none;
  margin-top: 20px;
}

.main-nav__list {
  margin: 0 auto;
  padding: 10px;

  text-align: center;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    margin-top: 0;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 230px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-right: 150px;
  }

  .main-nav__list {
    margin-right: 0;
    margin-left: 130px;
    width: 300px;
  }

  .main-nav__list--wrapper {
    padding-bottom: 0;

    background-image: none;
  }
}
