.works {
  width: 100%;
}

.works__container {
  width: 320px;
  margin: 0 auto;
}

.works__container-header {
  display: block;
}

.works__item {
  list-style: none;
  box-shadow: 0 0 10px #EDECEC;
  margin-bottom: 35px;

  &:hover {
    box-shadow: none;
  }
}

.works__list {
  margin-top: 35px;
  padding-left: 0;
}

.works__header {
  margin-top: 50px;
  @include font(50px, 20px, 300);
  color: #444444;
}

.works__description {
  padding-left: 0;
  padding-top: 15px;
}

.works__description-item {
  padding-bottom: 10px;
  @include font(14px, 20px, 300);
  list-style: none;
  color: #444444;
}

.works__description-item img {
  padding-right: 10px;
}

.works__image-background {
  width: 320px;
  height: 200px;
}

.works__wrapper {
  position: relative;
  width: 320px;
  height: 200px;
}

.works__block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  display: none;
  border: 40px solid #f5f5f5;
}

.works__wrapper:hover .works__block {
  display: block;
}

.works__block-description {
  padding-left: 20px;
  @include font(20px, 20px, 300);
  color: #444444;
}

@media (min-width: $tablet-width) {
  .works__container {
    width: 768px;
    margin: 0 auto;
  }

  .works__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .works__item {
    list-style: none;
    box-shadow: 0 0 10px #EDECEC;
    margin-right: 50px;
    margin-bottom: 60px;
  }

  .works__item:nth-child(2n) {
    margin-right: 0;
  }

  .works__image-background {
    width: 359px;
    height: 225px;
  }

  .works__wrapper {
    width: 359px;
    height: 225px;
  }

  .works__container-header {
    display: flex;
    justify-content: space-between;
  }

  .works__header {
    margin-top: 60px;
    font-size: 90px;
  }

  .works__description {
    width: 300px;
  }

  .works__block-description {
    padding-left: 20px;
    @include font(25px, 30px, 300);
    color: #444444;
  }
}

@media (min-width: $desktop-width) {
  .works {
    width: auto;
    min-height: 800px;
  }

  .works__container {
    position: relative;

    width: 1440px;
    margin: 0 auto;
  }

  .works__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 0;
  }

  .works__item {
    list-style: none;
    box-shadow: 0 0 10px #EDECEC;
    margin-right: 90px;
    margin-bottom: 60px;
  }

  .works__item:nth-child(2n) {
    margin-right: 90px;
  }

  .works__item:nth-child(3n) {
    margin-right: 0;
  }

  .works__header {
    margin-top: 170px;
    @include font(150px, 20px, 300);
    color: #444444;
  }

  .works__container-header {
    width: 800px;
  }

  .works__description-item {
    padding-bottom: 10px;
    @include font(20px, 20px, 300);
    list-style: none;
    color: #444444;

    &--color {
      font-weight: 700;
    }
  }

  .works__description-item img {
    padding-right: 10px;
  }

  .works__description {
    position: absolute;
    top: 100px;
    left: 830px;

    padding: 0;
    width: 600px;
  }

  .works__image-background {
    width: 420px;
    height: 260px;
  }

  .works__wrapper {
    width: 420px;
    height: 260px;
  }
}
