@mixin toggle() {
  width: 24px;
  height: 18px;
  margin-top: 20px;
  margin-right: 20px;

  background-color: white;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin font($font-size: 14px, $line-height: 18px, $font-weight: 300 ) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
