.basket__wrapper {
  display: flex;
  justify-content: space-between;
}

.basket__header {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;

  &--number {
    margin-left: 5px;
  }
}

.basket__wrapper-1 {
  display: flex;
}

.basket__wrapper-2 {
  display: flex;
  margin-top: 8px;
}

.basket__cleaning {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #01274F;
  margin: 0 0 0 5px;
}

.basket__container {
  width: 346px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(158, 158, 158, 0.22);
  border-radius: 5px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.basket__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  padding: 24px 15px 20px 15px;
  border-bottom: 1px solid #F2F2F2;
}

.basket__img {
  width: 82px;
  margin-left: 12px;
}

.basket__container-4 {
  display: flex;
  margin-top: 12px;
}

.basket__1,
.basket__3 {
  position: relative;
  width: 28px;
  height: 28px;
  background: #F2F2F2;
  border: none;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
}

.basket__1::before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 9px;

  width: 9.33px;
  height: 1.33px;
  background-color: #E0E0E0;
}

.basket__3::before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 9px;

  width: 9.33px;
  height: 1.33px;
  background-color: #4F4F4F;
}

.basket__3::after {
  content: " ";
  position: absolute;
  top: 14px;
  left: 9px;

  width: 9.33px;
  height: 1.33px;
  background-color: #4F4F4F;
  transform: rotate(90deg);
}

.basket__2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  background: #FCFCFD;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 16px;
  height: 28px;
}

.basket__container-3 {
  position: relative;
  margin-left: 17px;
}

.basket__stock {
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #219653;
}

.basket__title {
  margin: 3px 0 18px 0;
  width: 175px;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.basket__cost {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 0 112px;
}

.basket__image {
  position: absolute;
  top: 0;
  right: 0;
}

.basket__form {
  margin: 18px 0 20px 15px;
}

.basket__promo {
  font-weight: normal;
  font-size: 14px;
  width: 200px;
  line-height: 17px;
  padding: 11px 20px 10px 16px;
  color: #828282;
  background: #FCFCFD;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}

.basket__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.35px;
  color: #4F4F4F;
  background: #BDBDBD;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
  margin-left: -15px;
}

.basket__wrapper-3 {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  width: 315px;

  &--1 {
    margin-bottom: 4px;
  }

  &--2 {
    margin-bottom: 25px;
  }
}

.basket__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  &--1 {
    font-weight: bold;
    color: #EB5757;
  }

  &--2 {
    font-weight: bold;
  }
}

.basket__button-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
  padding: 12px 109.5px;
  background: #024184;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.basket__wrapper-4,
.basket__list-tablet,
.basket__wrapper-6-1 {
  display: none;
}

@media (min-width: $tablet-width) {
  .basket__wrapper-4,
  .basket__list-tablet {
    display: block;
  }

  .basket__list {
    display: none;
  }

  .basket-registration__list {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .basket-registration__item {
    display: flex;
    position: relative;
  }

  .basket-registration__number {
    margin: 0 10px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #4F4F4F;
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 16px;
    height: 25px;
    padding: 0 8px 0 8px;

    &--active {
      font-weight: 600;
      color: #01274F;
      border: 2px solid #01274F;
    }

    &--done {
      font-weight: normal;
      color: #219653;
      border: 1px solid #219653;
    }
  }

  .basket-registration__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #4F4F4F;
    margin: 3px 0 0 0;

    &--active {
      font-weight: 600;
      color: #01274F;
    }

    &--done {
      font-weight: normal;
      color: #219653;
    }
  }

  .basket-registration__item:nth-child(-n+2)::before {
    content: " ";
    position: absolute;
    top: 18px;
    right: -120px;
    width: 90px;
    border-bottom: 1px dashed #828282;
  }

  .basket__header {
    font-size: 26px;
    line-height: 38px;
  }

  .basket__container {
    width: 768px;
    margin-top: 30px;
    padding-bottom: 5px;
  }

  .basket__image {
    position: relative;
    margin-top: 16px;
  }

  .basket__list-tablet {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .basket__item {
    margin: 0 25px;
    padding: 28px 0 0;
  }

  .basket__img {
    margin-top: 12px;
  }

  .basket__cost {
    margin: 15px 0 0 0;
  }

  .basket__form {
    margin: 30px 0 29px 25px;
  }

  .basket__wrapper-5 {
    display: flex;
    justify-content: space-between;
  }

  .basket__button-2 {
    padding: 12px 64px;
    margin-top: 9px;
    margin-right: 25px;
  }

  .basket__wrapper-6 {
    margin-top: 7px;
  }

  .basket__wrapper-3 {
    margin-left: 25px;
  }
  .basket__container-3 {
    margin-left: 0;
  }

}

@media (min-width: $desktop-width) {
  .basket__container {
    width: 1110px;
    margin-top: 61px;
    padding-bottom: 30px;
  }

  .basket__header {
    font-size: 34px;
    line-height: 50px;
  }

  .basket__cleaning {
    font-size: 14px;
    line-height: 20px;
  }

  .basket-registration__item:nth-child(-n+2)::before {
    right: -317px;
    width: 310px;
  }

  .basket__img {
    width: 115px;
    margin-left: 40px;
    margin-top: 0;
  }

  .basket__item {
    margin: 0 40px;
    padding: 40px 0 16px 0;
  }

  .basket__title {
    width: 290px;
    font-size: 14px;
  }

  .basket__form {
    margin: 30px 0 29px 0;
  }

  .basket__promo {
    width: 320px;
    padding: 14px 20px 14px 16px;
  }

  .basket__button {
    line-height: 17px;
    padding: 15px 28px;
  }

  .basket__wrapper-6 {
    display: none;
  }

  .basket__wrapper-6-1 {
    display: block;
    margin-top: 30px;
  }

  .basket__wrapper-7 {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.7px solid rgba(79, 79, 79, 0.15);
    margin: 0 40px;
  }
  .basket__wrapper-3--1 {
    margin-bottom: 7px;
  }

  .basket__button-2 {
    padding: 14px 64px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 845px;
  }

}
