.basket-empty {
  width: 340px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.basket-empty__header {
  margin: 63px 0 11px 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;

  &--1 {
    margin: 24px 0 10px 0;
  }
}

.basket-empty__description {
  width: 293px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 30px 22px;

  &--1 {
    width: 346px;
    margin: 0 0 30px 0;
  }
}

.basket-empty-wrapper {
  position: relative;
}

.basket-empty__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
  background: #024184;
  border-radius: 5px;
  padding: 14px 103.5px 14px 120.5px;
  text-decoration: none;
}

.basket-empty__mark {
  position: absolute;
  top: 1px;
  left: 112px;
}

.basket-empty__button-1 {
  display: none;
}

.thanks__img {
  margin-top: 95px;
}

@media (min-width: $tablet-width) {
  .basket-empty {
    margin: 0;
    text-align: left;
    padding-bottom: 70px;
  }

  .breadcrumbs-thanks {
    display: none;
  }

  .thanks {
    background: #FFFFFF;
    border-radius: 7px;
    display: flex;
    width: 700px;
    margin-top: 100px;
  }

  .thanks__img {
    margin-top: 65px;
    margin-right: 34px;
    margin-left: 34px;
  }

  .basket-empty__header {
    margin: 46px 0 20px 0;
    font-size: 26px;
    line-height: 38px;

    &--1 {
      font-size: 20px;
      line-height: 29px;
      margin: 40px 0 10px 0;
    }
  }

  .basket-empty__description {
    margin: 0 0 40px 0;

    &--1 {
      width: 515px;
      margin: 0 0 -15px;
    }

    &--2 {
      margin-bottom: 10px;
    }
  }

  .basket-empty-wrapper {
    display: none;
  }

  .basket-empty__button-1 {
    display: block;
    padding: 14px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.35px;
    color: #F2F2F2;
    background: #024184;
    border-radius: 5px;
    width: 80px;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .basket-empty {
    padding-bottom: 100px;
  }

  .thanks {
    background: #FFFFFF;
    border-radius: 7px;
    display: flex;
    width: 825px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .thanks__img {
    margin-top: 118px;
    margin-right: 48px;
    margin-left: 93px;
  }

  .basket-empty__header {
    margin: 97px 0 20px 0;
    font-size: 34px;
    line-height: 50px;

    &--1 {
      font-size: 24px;
      line-height: 35px;
      margin: 88px 0 14px 0;
    }
  }

  .basket-empty__description {
    width: 575px;
    margin: 0 0 46px 0;

    &--1 {
      width: 515px;
      margin: 0 0 -15px;
    }

    &--2 {
      margin-bottom: 10px;
    }
  }
}
