.conditions-pay__header {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #333333;
}

.conditions-pay__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.conditions-pay__button {
  text-decoration: none;
  width: 100%;
}

.conditions-pay__button-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 13px 96px 13px 98px;
  text-decoration: none;

  &--first {
    margin-bottom: 12px;
    background-color: #024184;
  }

  &--second {
    padding: 13px 83px 13px 93px;
    opacity: 0.5;
  }

  &--delivery-first {
    background-color: transparent;
    opacity: 0.5;
  }

  &--delivery-second {
    background-color: #024184;
    opacity: 1;
  }

  &--garanty-first {
    background-color: #024184;
    padding-right: 132px;
    opacity: 1;
  }

  &--garanty-second {
    background-color: transparent;
    padding: 13px 60px 13px 68px;
    opacity: 0.5;
  }

  &--return-first {
    background-color: transparent;
    opacity: 0.5;
  }

  &--return-second {
    background-color: #024184;
    opacity: 1;
  }
}

.svg-second path {
  stroke: #F2F2F2;
}

.conditions-pay__button-header {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;

  &--second {
    color: #333333;
  }

  &--delivery-first {
    color: #333333;
  }

  &--delivery-second {
    color: #F2F2F2;
  }

  &--garanty-first {
    color: #F2F2F2;
    opacity: 1;
    margin-top: 4px;
  }

  &--garanty-second {
    color: #333333;
    margin-top: 2px;
  }

  &--return-first {
    color: #333333;
    opacity: 0.8;
  }

  &--return-second {
    color: #F2F2F2;
  }
}

.conditions-pay__button-wrapper--second svg {
  margin-top: -2px;
}

@media (min-width: $tablet-width) {
  .conditions-pay__header {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 38px;
  }

  .conditions-pay__button-header {
    margin-left: 5px;
  }

  .conditions-pay__button-wrapper {
    padding: 14px;

    &--first {
      margin-bottom: 0;
      margin-right: 10px;
      background-color: #024184;
    }

    &--delivery-first {
      background-color: transparent;
    }

    &--garanty-first {
      background-color: #024184;
      padding-right: 15px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &--garanty-second {
      background-color: transparent;
      padding: 14px;
    }

    &--return-first {
      background-color: transparent;
    }

    &--return-second {
      background-color: #024184;
    }
  }

  .conditions-pay__list {
    display: flex;
    justify-content: space-between;
    width: 380px;
  }
}

@media (min-width: $desktop-width) {
  .conditions-pay__header {
    margin-bottom: 83px;
    font-size: 34px;
    line-height: 50px;
  }

  .conditions-pay__list {
    flex-direction: column;
    width: 300px;

    &--delivery {
      width: 335px;
    }
  }

  .conditions-pay__item--first {
    width: 255px;
    border-bottom: 0.7px solid rgba(79,79,79, 0.15);
  }

  .conditions-pay__button-wrapper--delivery-first .svg-first path {
    stroke: #4F4F4F;
    opacity: 0.5;
  }

  .conditions-pay__button-wrapper--delivery-first {
    color: #4F4F4F;
    opacity: 0.5;
  }

  .conditions-pay__button-wrapper .svg-second path {
    stroke: #01274f;
  }

  .conditions-pay__button-wrapper {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-left: 17px;

    &--first {
      margin-bottom: 10px;
      width: 180px;
      margin-left: 18px;
    }

    &--second {
      width: 190px;
      padding-top: 26px;
    }

    &--garanty-first {
      opacity: 1;
      width: 135px;
    }

    &--garanty-second {
      opacity: 0.5;
      width: 242px;
    }

    &--return-second {
      opacity: 1;
    }
  }

  .conditions-pay__button-header {
    color: #01274F;

    &--second {
      color: #333333;
    }

    &--return-first {
      color: #333333;
      opacity: 0.8;
    }

    &--return-second {
      color: #01274F;
    }
  }

  .conditions-pay__button-wrapper--first svg path {
    stroke: #01274F;
  }
}
