.contacts-form {
  margin-top: 20px;
  background: white;
  border-radius: 7px;
  width: 346px;
}

.contacts-form__block-wrapper {
  width: 280px;
  margin: 0 auto;
}

.contacts-form__header {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 18px;
  padding-top: 20px;
  border-bottom: 0.7px solid rgba(79, 79, 79, 0.15);
  text-align: center;
  margin-bottom: 15px;
}

.contacts-form__window {
  padding: 11px 12px 11px 12px;
  width: 255px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 6px;
  color: #333333;

  &--stars {
    width: 70px;
    height: 42px;
    background: #FCFCFD;
    border: 1px solid #E0E0E0;
    border-radius: 5px 0 0 5px;
  }

  &--stars2 {
    width: 60px;
    height: 42px;
    background: #FCFCFD;
    border: 1px solid #E0E0E0;
    border-radius: 0;
  }

  &--stars3 {
    width: 70px;
    height: 42px;
    background: #FCFCFD;
    border: 1px solid #E0E0E0;
    border-radius: 0 5px 5px 0;
  }
}

.contacts-form__button {
  border: none;
  padding: 14px 100px;
  cursor: pointer;
  background: #219653;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
  margin-bottom: 20px;
  text-align: center;
}

.contacts-form__wrapper {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #4F4F4F;
}

.contacts-form__wrapper span {
  color: red;
}

@media (min-width: $tablet-width) {
  .contacts-form__header {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .contacts-form__button {
    padding: 14px 20px;
    margin-left: 80px;

    &--rating {
      margin-left: 0;
      padding: 14px 159px;
    }
  }

  .contacts-form {
    margin-top: -50px;

    &--rating {
      width: 450px;
    }
  }

  .contacts-form__block-wrapper--rating {
    width: 400px;
  }

  .contacts-form__window {
    &--2 {
      width: 375px;
    }

    &--stars {
      width: 90px;
    }

    &--stars2 {
      width: 90px;
    }

    &--stars3 {
      width: 90px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-form {
    margin-top: -165px;
    width: 445px;

    &--rating {
      width: 535px;
    }
  }

  .contacts-form__header {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 25px;
    padding-top: 40px;
  }

  .contacts-form__block-wrapper {
    width: 385px;

    &--rating {
      width: 479px;
    }
  }

  .contacts-form__window {
    width: 360px;
    padding: 11px 12px 11px 12px;

    &--2 {
      width: 455px;
    }

    &--stars {
      width: 100px;
    }

    &--stars2 {
      width: 100px;

    }

    &--stars3 {
      width: 100px;
    }

  }

  .contacts-form__button {
    margin-left: 135px;

    &--rating {
      padding: 14px 20px;
      margin-left: 175px;
    }
  }
}
