.footer-nav {
  border-bottom: 0.5px solid rgba(242,242,242, 0.15);
}

.footer-nav__container {
  display: flex;
  flex-direction: column;
}

.footer-nav__wrapper {
  width: 346px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.footer-nav__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 14px;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__item {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 12px;
}

.footer-nav__item a {
  opacity: 0.8;
  text-decoration: none;
  color: #f2f2f2;
}


@media (min-width: $tablet-width) {
  .footer-nav__wrapper {
    margin-top: 74px;
    width: 400px;
    padding-bottom: 40px;
  }

  .footer-nav {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .footer-nav__wrapper {
    margin-top: 135px;
    width: 470px;
  }

  .footer-nav__title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 19px;
  }

  .footer-nav__item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
