.footer-social {
  border-bottom: 0.5px solid rgba(242,242,242, 0.15);
}

.footer-social__wrapper {
  width: 346px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-social__years {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  opacity: 0.8;
}

.footer-social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 157px;
}

@media (min-width: $tablet-width) {
  .footer-social__wrapper {
    width: 690px;
  }
}

@media (min-width: $desktop-width) {
  .footer-social__wrapper {
    width: 1085px;
  }
}
