.footer-address__wrapper {
  width: 346px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

.footer-address {
  border-bottom: 0.5px solid rgba(242,242,242, 0.15);
}

.footer-address__container {
  display: flex;
  flex-direction: column;
  margin-right: 46px;
}

.footer-address__tel {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #f2f2f2;
}

.footer-address__email {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
  text-decoration: none;
  color: #f2f2f2;
}

.footer-address__street {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 154px;
  opacity: 0.8;
}

@media (min-width: $tablet-width) {
  .footer-address {
    border-bottom: none;
  }

  .footer-address__wrapper {
    position: relative;
    flex-direction: column;
    margin-top: 0;
  }

  .footer-address__tel {
    position: absolute;
    top: -100px;
  }

  .footer-address__email {
    position: absolute;
    top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .footer-address__tel {
    position: static;
    font-size: 24px;
    line-height: 35px;
  }

  .footer-address__street {
    margin-top: 36px;
    line-height: 16px;
    width: 170px;
  }

  .footer-address__email {
    position: absolute;
    top: 75px;
  }
}
