.tabs {
  font-size: 0;
  width: 375px;
  //margin-left: auto;
  //margin-right: auto;
  margin: 0 auto;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  //border: 1px solid #e0e0e0;
  //padding: 10px 15px;
  //font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  //background-color: #f5f5f5;
  //border: 1px solid #e0e0e0;
  padding: 2px 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  color: #01274F;
  border-bottom: 2px solid #01274f;
}


.hit-slider .slider .bx-wrapper .bx-controls-direction a {
  display: none;
}

.hit-slider .slider .bx-wrapper .bx-viewport {
  overflow: initial;
  height: 420px !important;
  padding-top: 50px;
}

.hit-slider .slider .bx-wrapper .bx-pager {
  bottom: 2px;
  height: 3px;
  background-color:  rgba(130.0, 130.0, 130.0, 0.15);
  width: 346px;
  padding-top: 0;
  text-align: left;
}

.hit-slider .slider .bx-wrapper .bx-pager.bx-default-pager a {
  width: 37px;
  height: 3px;
  background-color: transparent;
  margin-top: -16px;
  margin-left: 0;
}

.hit-slider .slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.hit-slider .slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.hit-slider .slider .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #024184;
}

.hit-slider .slider__item {
  width: 255px !important;
  margin-right: 20px;
  position: relative;
}

.hit-slider__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.hit-slider__item {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #828282;
  cursor: pointer;
}

.hit-slider__img-header {
  position: absolute;
  top: 36px;
  left: 0;
}

.hit-slider__stars-list {
  padding-top: 150px;
  display: flex;
}

.hit-slider__stars-list p {
  margin: 0;
}

.hit-slider__new {
  margin: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #F2F2F2;
  background: #F2994A;
  border-radius: 0 7px 0 0;
  width: 65px;
  margin-left: 140px;

  &--hit {
    width: 40px;
    margin: 0 0 0 165px;
  }

  &--sale {
    width: 92px;
    margin: 0 0 0 113px;
  }
}

.hit-slider__stars-item {
  margin: 0;
}

.hit-slider__stars-item img {
  margin-right: 2px;
}

.hit-slider__background {
  padding-left: 20px;
}

.hit-slider__header {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.hit-slider__cost {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #01274F;
  padding-bottom: 25px;
}

.hit-slider__container {
  display: flex;
  justify-content: start;
  position: relative;
}

.hit-slider__img {
  position: absolute;
  top: 14px;
  left: 16px;
}

.hit-slider__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
  padding: 14px 16px 14px 38px;
  background: #024184;
  border-radius: 5px;
  border: none;
  margin-right: 29px;
}

.hit-slider__image {
  margin-top: 15px;
}

.hit-slider__favorites {
  margin-right: 22px;
}

@media (min-width: $tablet-width) {
  .hit-slider .slider .bx-wrapper .bx-viewport {
    height: 480px !important;
    padding-top: 50px;
  }

  .hit-slider__item-1 {
    margin-left: 150px;
  }

  .tabs {
    width: 690px;
  }

  .tabs>label {
    background-color: rgba(229,229,229, 0.15);
  }

  .hit-slider .slider__item {
    padding-bottom: 30px;
    background: #FFFFFF;
    border-radius: 7px;
  }

  .hit-slider .slider .bx-wrapper {
    background: #F8F8F8;
    border-radius: 6px;
  }

  .hit-slider .slider .bx-wrapper .bx-pager {
    width: 690px;
    margin-bottom: 40px;
  }

  .hit-slider .slider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 74px;
  }

  .hit-slider {
    padding-top: 416px;
    background: #F8F8F8;
    border-radius: 6px;
  }

  .hit-slider__list {
    width: 460px;
    margin-top: -80px;
  }

  .hit-slider__item {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (min-width: $desktop-width) {
  .hit-slider .slider .bx-wrapper .bx-viewport {
    width: 1380px !important;
    margin: 0 auto;
  }

  .hit-slider__item-1 {
    margin-left: 400px;
  }

  .tabs {
    width: 1110px;
  }

  .hit-slider .slider .bx-wrapper .bx-viewport ul {
    margin-left: -12%;
  }

  .hit-slider .slider__item {
    margin-right: 30px;
  }

  .hit-slider .slider .bx-wrapper .bx-pager {
    display: none;
  }
}
