.info-menu {
  padding-left: 18px;
  height: 100%;
  background-color: #f2f2f2;
}

.info-menu__image {
  margin-right: 5px;
}

.info-menu__block {
  display: flex;
  margin-left: -4px;
  margin-top: 10px;

  &--user {
    padding: 10px 15px 10px 6px;
    border: none;
    background-color: #f2f2f2;
  }

  &--city {
    margin: 20px 0 20px 2px;
  }
}

.info-menu__text {
  margin: 0;
  margin-top: 4px;
  font-size: 16px;

  &--city {
    margin-top: -2px;
    font-size: 12px;
  }
}

.info-menu__wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

@media (min-width: $desktop-width) {
  .info-menu {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
  }

  .info-menu__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 90rem;
    margin: 0 auto;
  }

  .info-menu__wrapper {
    width: 316px;
    padding-bottom: 10px;
  }

  .info-menu__block--help {
    display: none;
  }

  .info-menu__block--user {
    display: none;
  }

  .info-menu__block--city {
    position: absolute;
    left: 85%;
    margin: 15px 0 10px 2px;
  }

  .info-menu__text--city {
    margin-right: 70px;
    width: 200px;
    font-size: 13px;
  }

  .info-menu__block--address {
    margin-top: 8px;
  }

  .info-menu__image--address {
    width: 20px;
    height: 20px;
  }

  .info-menu__text--address {
    font-size: 13px;
  }
}
