.menu__wrapper {
  display: block;
  position: relative;
}

.menu__wrapper:hover {
  cursor: pointer;
}

.menu__list {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 78px;
  margin-top: 1rem;
  left: -150px;
  background: #F8F8F8;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
  width: 1500px;
  z-index: 150000;

  &--second {
    left: -330px;
  }

  &--pay {
    top: 20px;
    left: 0;
    width: 100%;
  }
}

li:focus-within a {
  outline: none;
}

.menu__item--pay {
  padding: 10px;
}

.menu__item--pay a:hover {
  color: #024184;
}

.menu__item--pay-first {
  padding-bottom: -10px;
}

.page-header__item:hover {
  background: #F2F2F2;
  border-radius: 5px;
  color: #01274F;
  font-weight: bold;
  font-size: 16px;
  line-height: 42px;
  margin-left: -20px;
  margin-right: 6px;
  letter-spacing: 0.75px;
  padding: 37px 15px 48px 20px;
}

.menu__wrapper:hover > ul,
.menu__list:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu__item {
  clear: both;
  width: 100%;
  z-index: 100000;
  position: relative;
}

.menu-block__item {
  text-decoration: none;
  color: #333333;
  margin-right: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.menu__item--pay a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 15px;
}

.menu-block__list li {
  margin-bottom: 12px;
}

.menu-block__item:hover {
  color: #024184;
}

.menu-block__arrow {
  display: flex;
  justify-content: start;
  padding-top: 8px;
}

.menu-block__arrow p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #01274F;
  padding-right: 10px;
  padding-bottom: 60px;
}

.menu__block-image {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;

  &--2 {
    margin-top: 20px;
  }

  &--3 {
    margin-top: 37px;
  }

  &--4 {
    margin-top: 27px;
  }

  &--5 {
    margin-top: 21px;
  }

  &--8 {
    margin-top: 4px;
  }
}

.menu__item-block {
  margin-top: 40px;

  &--2 {
    margin-top: 38px;
  }

  &--3 {
    margin-top: 39px;
  }

  &--4 {
    margin-top: 43px;
  }

  &--5 {
    margin-top: 29px;
  }
}

.menu__item-container {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin-left: 160px;
  padding: 0;
  list-style: none;
}

.menu__item-container--second {
  width: 732px;
  padding-bottom: 40px;
}

.menu__item-block a {
  text-decoration: none;
  color: #333333;
}

.menu__item__title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 20px;
}

.menu__list,
.menu-block__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.menu__item-banner {
  margin-top: 40px;
}
