.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__header {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 20px;
}

.news__item {
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(158, 158, 158, 0.22);
  border-radius: 7px;
}

.news__data {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 6px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}

.news__title {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 290px;
}

.news__item a {
  text-decoration: none;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .news__header {
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 30px;
  }

  .news__item {
    width: 330px;
    margin-bottom: 30px;
  }

  .news__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 690px;
  }
}

@media (min-width: $desktop-width) {
  .news__header {
    font-size: 34px;
    line-height: 50px;
    padding-bottom: 40px;
  }

  .news__item {
    width: 350px;

    &--first {
      width: 730px;
    }
  }

  .news__img {
    width: 350px;
    height: 286px;

    &--first {
      width: 730px;
    }
  }

  .news__list {
    width: 1110px;
  }
}
