.ordering__form {
  background: #FFFFFF;
  border-radius: 7px;
  margin-top: 15px;
  padding-bottom: 20px;
}

.authorization__title-ordering {
  border: none;
  padding-bottom: 5px;
}

.ordering__wrapper {
  padding: 0 15px;
  border-bottom: .7px solid rgba(79,79,79,.15);
}

.ordering__wrapper-1 {
  padding: 20px 15px 0 15px;
}

.contacts-form__window-ordering {
  width: 288px;
  background: #FCFCFD;
}

.contacts-form__container {
  position: relative;
}

.ordering__img {
  position: absolute;
  top: 46px;
  left: 36px;
}

.ordering__list {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &--desktop {
    display: none;
  }
}

.ordering__image {
  padding: 50px 39px;
  border: 1px solid #E0E0E0;
  border-radius: 7px;

  &--1 {
    padding: 43px 40px;
  }

  &--2 {
    width: 52px;
    height: 52px;
    padding: 40px 49px;
  }

  &--3 {
    padding: 22px 32px;
  }

  &--4 {
    padding: 29px 19px 27px 20px;
  }

  &--5 {
    padding: 26px 34px 22px 34px;
  }

}

.ordering__image:hover {
  border: 1px solid #024184;
}

.ordering__item:nth-child(odd) {
  margin-right: 10px;
}

.ordering__item-1 {
  margin-right: 3px;
  margin-bottom: 20px;
}

.ordering__item {
  margin-bottom: 20px;
}

.ordering__title {
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #4F4F4F;

  &--active {
    font-weight: bold;
  }
}

.ordering-select {
  padding: 0.8em 1.4em .7em 0.8em;
  width: 314px;
  background: #FCFCFD;
  border: 1px solid #E0E0E0;
}

.ordering__img-1 {
  position: absolute;
  top: 40px;
  left: 290px;
}

.ordering__wrapper-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.ordering__wrapper-3 {
  text-align: right;
}

.ordering-description {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  &--1 {
    font-weight: bold;
  }
}

.ordering__cost {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #219653;
}

.authorization__button-1 {
  margin-left: 15px;
  padding: 12px 93px;
}

.ordering__description-1 {
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #828282;
}

.ordering__description-1 a {
  text-decoration: none;
  color: #024184;
  font-weight: bold;
}

.ordering__wrapper-5,
.ordering__prompt {
  display: none;
}

@media (min-width: $tablet-width) {
  .ordering__form {
    width: 768px;
    margin-top: 15px;
    padding-bottom: 20px;
  }

  .ordering__wrapper-5 {
    display: block;
    padding-top: 10px;
    margin-right: 55px;
    border-left: 0.7px solid rgba(79, 79, 79, 0.15);
    padding-left: 45px;
  }

  .ordering-description-2 {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;

    &--1 {
      font-weight: bold;
    }
  }

  .ordering__wrapper-6 {
    margin-top: 15px;
  }

  .ordering__wrapper-7 {
    display: flex;
    justify-content: space-between;
  }

  .authorization__title-ordering {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }

  .ordering__wrapper {
    padding: 0 25px;
    border-bottom: none;
  }

  .ordering__wrapper-1 {
    padding: 20px 25px 0 25px;
  }

  .ordering__wrapper-4 {
    display: flex;
    justify-content: space-between;
  }

  .ordering__wrapper-8 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .ordering__container {
    width: 353px;

    &--1 {
      margin-top: 16px;
    }
  }

  .ordering-select {
    margin-top: 5px;
    width: 350px;
  }

  .ordering__img-1 {
    top: 44px;
    left: 325px;
  }

  .ordering__item-1 {
    margin-right: 10px;
  }

  .ordering__list {
    width: 500px;
  }

  .contacts-form__window-ordering {
    width: 324px;

    &--1 {
      width: 690px;
    }
  }

  .ordering__item:nth-child(odd) {
    margin-right: 20px;
  }

  .ordering__item {
    margin-right: 20px;
  }

  .ordering__title--1 {
    width: 77px;
    margin: 0 auto;
  }

  .ordering__image {
    padding: 30px 14px;
    border: 1px solid #E0E0E0;
    border-radius: 7px;

    &--1 {
      padding: 23px 15px 23px 16px;
    }

    &--2 {
      width: 34px;
      height: 34px;
      padding: 23px 33px;
    }

    &--3 {
      padding: 22px 32px;
    }

    &--4 {
      padding: 29px 19px 27px 20px;
    }

    &--5 {
      padding: 26px 34px 22px 34px;
    }
  }

  .ordering__image:hover {
    border: 1px solid #024184;
  }

  .ordering__wrapper-1 {
    width: 500px;
  }

  .ordering__wrapper-2:first-child {
    width: 283px;
  }

  .ordering__wrapper-2:last-child {
    width: 349px;
  }

  .ordering__wrapper-3 {
    display: flex;
  }

  .ordering__cost {
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .ordering__container-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 690px;
    margin-left: 10px;
  }

  .ordering__description-1 {
    width: 330px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .ordering__none {
    display: none;
  }

  .ordering__wrapper {
    padding: 0 40px;
    border-bottom: none;
  }

  .ordering__wrapper-1 {
    padding: 20px 40px 0 40px;
  }

  .ordering__form {
    width: 1110px;
    padding-bottom: 40px;
  }

  .ordering__container-3 {
    display: flex;
    justify-content: space-between;
  }

  .contacts-form__window-ordering {
    width: 305px;
  }

  .ordering__wrapper-4 {
    margin-top: 32px;
  }

  .ordering__prompt {
    display: block;
    margin: -10px 0 0 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
  }

  .ordering__title--active {
    font-weight: normal;
  }

  .ordering__wrapper-7 {
    width: 850px;
  }

  .ordering__wrapper-5 {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-top: 0;
    margin-bottom: 106px;
    margin-top: 33px;
  }

  .ordering__container {
    width: 335px;

    &--1 {
      margin-top: 34px;
    }

    &--2 {
      margin-top: 32px;
    }
  }

  .ordering__img-1 {
    top: 45px;
    left: 315px;
  }

  .ordering__image--active {
    border: 1px solid #E0E0E0;
  }

  .ordering__list {
    width: 690px;


    &--tablet {
      display: none;
    }

    &--desktop {
      display: flex;
    }
  }

  .ordering__image {

  }

  .ordering__item {
    position: relative;

  }

  .ordering__image--sdek {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-1.svg") no-repeat 50%;
  }

  .ordering__image--sdek:hover {
    background: url("../img/ordering-active-1.svg") no-repeat 50%;
  }

  .ordering__image--post {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-2.svg") no-repeat 50%;
  }

  .ordering__image--post:hover {
    background: url("../img/ordering-active-2.svg") no-repeat 50%;
  }

  .ordering__image--car {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-3.svg") no-repeat 50%;
  }

  .ordering__image--car:hover {
    background: url("../img/ordering-active-3.svg") no-repeat 50%;
  }

  .ordering__image--box {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-4.svg") no-repeat 50%;
  }

  .ordering__image--box:hover {
    background: url("../img/ordering-active-4.svg") no-repeat 50%;
  }

  .ordering__image--card {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-11.svg") no-repeat 50%;
  }

  .ordering__image--card:hover {
    background: url("../img/basket-1.svg") no-repeat 50%;
  }

  .ordering__image--apple {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-12.svg") no-repeat 50%;
  }

  .ordering__image--apple:hover {
    background: url("../img/basket-2.svg") no-repeat 50%;
  }

  .ordering__image--google {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-13.svg") no-repeat 50%;
  }

  .ordering__image--google:hover {
    background: url("../img/basket-3.svg") no-repeat 50%;
  }

  .ordering__image--paynal {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-14.svg") no-repeat 50%;
  }

  .ordering__image--paynal:hover {
    background: url("../img/basket-6.svg") no-repeat 50%;
  }

  .ordering__image--payur {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-15.svg") no-repeat 50%;
  }

  .ordering__image--payur:hover {
    background: url("../img/basket-5.svg") no-repeat 50%;
  }

  .ordering__image--paycash {
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100px;
    height: 80px;
    position: absolute;
    padding: 0;
    background: url("../img/ordering-16.svg") no-repeat 50%;
  }

  .ordering__image--paycash:hover {
    background: url("../img/basket-4.svg") no-repeat 50%;
  }

  .ordering__item:nth-child(odd) {
    margin-right: 10px;
  }

    .ordering__title {

      margin: 90px 13px 0;

      &--1 {
        margin: 90px 14px 0;
      }

      &--2 {
        margin: 90px 2px 0;
      }

      &--3 {
        margin: 90px 16px 0;
      }

      &--4 {
        margin: 90px 24px 0;
      }

      &--5 {
        margin: 90px 21px 0;
      }

      &--6 {
        margin: 90px 18px 0;
      }

      &--7 {
        margin: 90px 11px 0;
      }

      &--8 {
        margin: 90px 9px 0;
      }

  }

  .ordering-form__container {
    width: 500px;
  }

  .ordering__container-2 {
    flex-direction: column;
    width: 380px;
    margin-right: 40px;
  }

  .ordering__description-1 {
    width: 379px;
    text-align: right;
  }

  .ordering__container-4 {
    display: flex;
    justify-content: space-between;
  }
}
