.payment {
  background: #FFFFFF;
  border-radius: 7px;
  margin-top: 20px;
}

.payment__block-list {
  padding: 0;
  margin-top: 15px;
  margin-left: 36px;
  list-style: none;
  width: 263px;
}

.payment__block-item {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #4F4F4F;
  margin-bottom: 10px;
  position: relative;
}

.payment__block-item::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: -25px;
  width: 12px;
  height: 5px;
  background: linear-gradient(180deg, #FFD519 0%, #FF7900 100%);
  border-radius: 1px;
}

.guarantee__list {
  padding: 0;
  margin-top: 15px;
  margin-left: 36px;
  list-style: none;
  width: 263px;
}

.guarantee__item {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #4F4F4F;
  margin-bottom: 10px;
  position: relative;
}

.guarantee__item::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: -25px;
  width: 12px;
  height: 5px;
  background: linear-gradient(180deg, #FFD519 0%, #FF7900 100%);
  border-radius: 1px;
}

.payment__description--guarantee {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #4F4F4F;
  padding-top: 20px;
  margin: 0;
}

.payment__title-delivery {
  width: 168px;
}

.payment__header-block {
  display: flex;
  justify-content: start;
}

.payment__header-block img {
  margin-left: 20px;
  margin-top: 20px;
}

.payment__warning {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 11px 9px 11px 16px;
  margin-top: 12px;
}

.payment__warning-wrapper {
  display: flex;
  justify-content: start;
}

.payment__warning-den {
  border-radius: 12px;
  padding: 1px 8px;
  font-size: 13px;
  margin: 0;
  color: #EB5757;
  border: 1.33333px solid #EB5757;
}

.payment__warning-title {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #EB5757;
  margin-left: 6px;
}

.payment__warning-description {
  margin: 0;
  padding-top: 2px;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  width: 240px;

  &--second {
    width: 280px;
  }
}

.payment__description {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #333333;

  &--first {
    padding-top: 20px;
  }

  &--return {
    font-size: 12px;
  }
}

.payment__wrapper {
  width: 316px;
  margin: 0 auto;
}

.payment__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #333333;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 12px;
}

.payment__list,
.pay-system__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 1px;
}

.payment__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;

  &--first {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  &--return {
    font-size: 12px;
  }
}

.payment__item {
  padding-bottom: 20px;
  border-bottom: 0.7px solid rgba(79,79,79, 0.15);

  &--bottom {
    border-bottom: none;
  }

  &--return {
    background: #F8F8F8;
    border-radius: 7px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
}

.pay-system__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 25px;
}

.pay-system__item {
  margin-left: -10px;
}

.payment__description--bottom {
  padding-bottom: 20px;
  border-bottom: .7px solid rgba(79,79,79,.15);
}

.payment__title--tablet {
  display: none;
}

.payment__wrapper-block-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .payment__title--tablet {
    display: block;
  }

  .payment__block-list--delivery {
    display: none;
  }

  .payment__title--return,
  .payment__description--return {
    font-size: 13px;
  }

  .payment__item--return {
    padding-left: 20px;
    padding-right: 20px;
  }

  .payment__wrapper-block-list {
    display: flex;
    margin-top: 20px;
  }

  .payment__block-list-left {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .guarantee__list {
    width: 570px;
  }

  .payment__block-list-prev {
    padding-left: 0;
  }

  .payment__block-item {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 98px;
    background: rgba(2, 65, 132, 0.05);

    &--color {
      background: transparent;
    }

    &--2 {
      padding-right: 210px;
    }

    &--3 {
      padding-right: 145px;
    }

    &--left {
      padding-right: 72px;
    }
  }

  .payment__warning {
    width: 350px;

    &--second {
      width: 418px;
    }

    &--guarantee {
      width: 556px;
    }
  }

  .payment__warning-description {
    width: 327px;

    &--second {
      width: 386px;
    }

    &--guarantee {
      width: 545px;
    }
  }

  .payment__title-delivery {
    width: 340px;
  }

  .payment__block-list {
    margin-left: 0;
    width: 640px;
  }

  .payment__block-item::before {
    display: none;
  }

  .payment {
    margin-top: 10px;
  }

  .payment__wrapper {
    width: 640px;
  }

  .pay-system__list {
    width: 400px;
  }

  .pay-system__item {
    margin-right: 23.6px;

    &--margin {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .payment {
    width: 825px;
    margin-top: 90px;
    margin-left: -150px;
  }

  .conditions-pay__header--return {
    width: 450px;
  }

  .payment__block-item {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 183px;
    background: rgba(2, 65, 132, 0.05);

    &--color {
      background: transparent;
    }

    &--2 {
      padding-right: 296px;
    }

    &--3 {
      padding-right: 229px;
    }

    &--left {
      padding-right: 68px;
    }
  }

  .payment__wrapper {
    width: 720px;
    margin-left: 30px;
  }

  .pay-system__list {
    width: 760px;
  }

  .payment__header {
    font-size: 24px;
    line-height: 35px;
    margin: 0;
    margin-top: 23px;
    margin-bottom: 20px;
  }

  .payment__warning {
    width: 718px;
  }

  .payment__warning-description {
    width: 705px;

    &--guarantee {
      width: 654px;
    }
  }

  .payment__description--first {
    padding-top: 40px;
  }
}
