.popular__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

.popular__header {
  margin: 0 auto;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  width: 180px;
}

.popular__item {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 255px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.popular__item a {
  text-decoration: none;
  color: #333333;
}

.popular__item:hover {
  background: radial-gradient(31.2% 38.72% at 50.2% 28.72%, #5D9CDE 0%, rgba(1, 39, 79, 0) 100%), #01274F;
  border-radius: 7px;
}

.popular__item a:hover {
  font-weight: bold;
  color: #F2F2F2;
}

.popular__description {
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  width: 186px;

  &--bottom {
    padding-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .popular__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 670px;
    margin-top: 40px;
    margin-left: 58px;
  }

  .popular__header {
    font-size: 36px;
    line-height: 44px;
    width: 464px;
  }
}

@media (min-width: $desktop-width) {
  .popular__header {
    font-size: 48px;
    line-height: 70px;
    width: 618px;
  }

  .popular__list {
    width: 1110px;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 81px;
  }

  .popular__item {
    padding-bottom: 0;
  }

  .popular__item--third {
    margin-top: -2px;
    padding-top: 0;
  }

  .popular__description--top {
    margin-top: 16px;
  }
}
