.slider-block .slider .bx-wrapper .bx-controls-direction a {
  display: none;
}

.slider-block .slider .bx-wrapper .bx-viewport {
  overflow: initial;
  margin-left: 15px;
  height: 400px !important;
  padding-top: 50px;
}

.slider-block .slider .bx-wrapper .bx-pager {
  bottom: 2px;
  height: 3px;
  background-color:  rgba(130.0, 130.0, 130.0, 0.15);
  width: 346px;
  padding-top: 0;
  margin-left: 15px;
}

.slider-block .slider .bx-wrapper .bx-pager {
  text-align: left;
}

.slider-block .slider .bx-wrapper .bx-pager.bx-default-pager a {
  width: 37px;
  height: 3px;
  background-color: transparent;
  margin-top: -16px;
  margin-left: 0;
}

.slider-block .slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.slider-block .slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.slider-block .slider .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #024184;
}

.slider-block__img-header {
  position: absolute;
  top: -55px;
  left: 35px;
}

.slider-block .slider__item {
  width: 306px !important;
}

.slider-block__wrapper {
  padding-top: 97px;
  padding-left: 25px;
  padding-right: 20px;
}

.slider-block__background {
  background: radial-gradient(40.92% 40.92% at 50% 0%, #5D9CDE 0%, rgba(1, 39, 79, 0) 100%), #01274F;
  border-radius: 7px;
  margin-right: 20px;
  height: 350px;
}

.slider-block__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-decoration: none;
  color: #F2F2F2;
}

.slider-block__header {
  margin: 0;
  padding-top: 6px;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #F2F2F2;
}

.slider-block__description {
  margin: 0;
  padding-top: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 245px;
  color: #F2F2F2;
}

.slider-block__container {
  display: flex;
  justify-content: start;
  text-decoration: none;
  padding-top: 23px;
  padding-bottom: 40px;

  &--top {
    padding-top: 43px;
  }
}

.slider-block__container p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #F2F2F2;
  padding-right: 10px;
}

.slider-block__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.slider-block__item {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #828282;
  cursor: pointer;
}

.slider-block__item:hover {
  color: #01274F;
  border-bottom: 2px solid #01274f;
}

@media (min-width: $tablet-width) {
  .slider-block .slider .bx-wrapper .bx-viewport {
    margin-left: 39px;
    padding-top: 30px;
  }

  .slider-block .slider .bx-wrapper .bx-pager {
    width: 690px;
    margin-left: 39px;
  }

  .slider-block .slider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 74px;
  }
}

@media (min-width: $desktop-width) {
  .slider-block {
    width: 1110px;
    margin: 0 auto;
  }

  .slider-block__background {
    margin-right: 0;
  }

  .slider-block .slider .bx-wrapper .bx-pager {
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
  }

  .slider-block .slider .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #BDBDBD;
    width: 14px;
    height: 14px;
    margin-top: -25px;
    border-radius: 7px;
    margin-left: 4px;
  }

  .slider-block .slider .bx-wrapper .bx-viewport {
    margin-left: 0;
    height: 425px !important;
  }

  .slider-block .slider__item {
    width: 350px !important;
    margin-right: 30px;
  }

  .slider-block__wrapper {
    padding-top: 119px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .slider-block__header {
    position: relative;
  }

  .slider-block__header::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -38px;
    width: 8px;
    height: 48px;
    background: #F2F2F2;
  }
}
