.sort-tablet__wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .sort-tablet__wrapper {
    display: block;
  }

  .sort-tablet__list-4 {
    margin-top: 20px;
  }

  .sort-tablet__list {
    display: flex;
    flex-wrap: wrap;
    width: 806px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px;
  }

  .sort__item--tablet {
    margin-right: 15px;
  }

  .sort-tablet__button {
    padding: 14px 57px 14px 44px;
  }

  .sale__new--sort-tablet {
    top: -190px;
    right: -220px;
  }

  .sort-tablet-header {
    margin-top: 12px;
    margin-bottom: 0;
    width: 360px;
  }

  .sort-tablet-wrapper {
    margin-left: 38px;
  }

  .sort-tablet-wrapper-1 {
    display: flex;
    margin-left: 145px;
  }

  .sort-tablet-chart {
    margin-right: 18px;
  }

  .sort-tablet-wrapper-2 {
    display: flex;
    margin-left: -65px;
    margin-top: 58px;

    &--1 {
      margin-top: 90px;
    }
  }

  .sort-tablet-button-1 {
    padding: 12px 30px 12px 30px;
    line-height: 17px;
  }

  .sort-tablet-button-2 {
    background: transparent;
    margin-top: -14px;
  }

  .sale-tablet__item-1 {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 730px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .sort-tablet__wrapper {
    display: none;
  }
}
