.slider .bx-wrapper {
  box-shadow: none;
  border: none;
  overflow: hidden;
}

.start__block .slider .bx-wrapper .bx-viewport {
  margin-top: 40px;
  overflow: initial;
}

.start__block .slider .bx-wrapper .bx-controls-direction a {
  top: 46.3%;
  z-index: 1;
}

.start__block .slider .bx-wrapper .bx-prev {
  left: 188px;
  background-image: none;
  background-color: #E0E0E0;
  width: 79px;
  right: 0;
  border-radius: 0 0 0 7px;
}

.start__block .slider .bx-wrapper .bx-next {
  background-image: none;
  opacity: 0.5;
  background-color: #E0E0E0;
  width: 79px;
  right: 0;
  border-radius: 0 0 7px 0;
}

.start__block .slider .bx-wrapper .bx-next::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 33px;
  opacity: 0.8;
  border-radius: 4px;
  width: 12px;
  height: 3px;
  background-color: #01274F;
  transform: rotate(45deg);
}

.start__block .slider .bx-wrapper .bx-next::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 33px;
  opacity: 0.8;
  border-radius: 4px;
  width: 12px;
  height: 3px;
  background-color: #01274F;
  transform: rotate(-45deg);
}

.start__block .slider .bx-wrapper .bx-prev::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 33px;
  opacity: 0.8;
  border-radius: 4px;
  width: 12px;
  height: 3px;
  background-color: #01274F;
  transform: rotate(137deg);
}

.start__block .slider .bx-wrapper .bx-prev::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 33px;
  opacity: 0.8;
  border-radius: 4px;
  width: 12px;
  height: 3px;
  background-color: #01274F;
  transform: rotate(40deg);
}

.start__img {
  position: relative;
}

.start__img-header {
  margin-top: -15px;
}

.start__background {
  position: absolute;
  width: 158px;
  height: 205px;
  background: linear-gradient(180deg, #FFD519 0%, #FF7900 100%);
  border-radius: 7px;
  top: 0;
  left: 188px;
  z-index: -1;
}

.start__wrapper {
  margin-top: 53px;
}

.start__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #01274F;
}

.start__header {
  margin: 0;
  padding-top: 11px;
  font-weight: 800;
  font-size: 32px;
  line-height: 47px;
  color: #333333;
}

.start__description {
  margin: 0;
  padding-top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  width: 314px;
}

.start__container {
  display: flex;
  justify-content: start;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 10px;
}

.start__container p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #01274F;
  padding-right: 10px;
}

.start__wrapper span {
  content: " ";
  height: 15px;
  background-color: white;
}

@media (min-width: $tablet-width) {
  .start__wrapper {
    order: -1;
    margin-top: 30px;
    margin-left: 39px;
  }

  .start__header {
    padding-top: 19px;
    font-size: 42px;
    line-height: 61px;
  }

  .start__description {
    padding-top: 10px;
    width: 350px;
  }

  .start__container {
    padding-top: 21px;
  }

  .start__block .slider .bx-wrapper .bx-viewport {
    height: 310px !important;
  }

  .start__block .slider .slider__item {
    display: flex;
    justify-content: space-between;
    width: 690px;
  }

  .start__image {
    margin-left: 160px;
    margin-top: 20px;
  }

  .start__background {
    width: 210px;
    height: 282px;
    left: 64px;
  }

  .start__img-header {
    margin-top: 5px;
    padding-right: 50px;
  }

  .start__block .slider .bx-wrapper .bx-controls-direction a {
    top: 85%;
  }

  .start__block .slider .bx-wrapper .bx-next {
    height: 50px;
    width: 105px;
    right: 49px;
  }

  .start__block .slider .bx-wrapper .bx-prev {
    height: 50px;
    width: 105px;
    left: 509px;
  }

  .start__block .slider .bx-wrapper .bx-next::before {
    top: 18px;
    right: 43px;
    width: 15px;
  }

  .start__block .slider .bx-wrapper .bx-next::after {
    top: 27px;
    right: 43px;
    width: 15px;
  }

  .start__block .slider .bx-wrapper .bx-prev::before {
    top: 18px;
    right: 47px;
    width: 15px;
  }

  .start__block .slider .bx-wrapper .bx-prev::after {
    top: 27px;
    right: 47px;
    width: 15px;
  }
}

@media (min-width: $desktop-width) {
  .start__wrapper {
    margin-top: 50px;
    margin-left: 0;
  }

  .start__block .slider .bx-wrapper .bx-viewport {
    height: 445px !important;
  }

  .start__header {
    padding-top: 18px;
    font-size: 60px;
    line-height: 88px;
  }

  .start__description {
    padding-top: 16px;
    font-size: 16px;
    line-height: 26px;
    width: 400px;
  }

  .start__img-header {
    margin-top: -20px;
    padding-right: 15px;
  }

  .start__image {
    margin-left: 440px;
    margin-top: 30px;
  }

  .start__container {
    padding-top: 45px;
  }

  .start__background {
    width: 255px;
    height: 411px;
    left: 300px;
  }

  .start__block .slider .bx-wrapper .bx-next {
    height: 65px;
    width: 127px;
    right: 0;
  }

  .start__block .slider .bx-wrapper .bx-prev {
    height: 65px;
    width: 128px;
    left: 855px;
  }

  .start__block .slider .bx-wrapper .bx-next::before {
    top: 25px;
    right: 54px;
    width: 17px;
  }

  .start__block .slider .bx-wrapper .bx-next::after {
    top: 36px;
    right: 54px;
    width: 17px;
  }

  .start__block .slider .bx-wrapper .bx-prev::before {
    top: 25px;
    right: 58px;
    width: 17px;
  }

  .start__block .slider .bx-wrapper .bx-prev::after {
    top: 36px;
    right: 58px;
    width: 17px;
  }
}
