.user__orders-empty {
  background: #FFFFFF;
  border-radius: 7px;
  width: 346px;
  margin: 0 auto;
  padding: 35px 0 50px 0;
}

.user__orders-empty__header {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 30px 0;
}

.user__orders-empty__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
  color: #F2F2F2;
  background: #024184;
  border-radius: 5px;
  text-decoration: none;
  padding: 14px 20px;
  margin-left: 92px;
}

.user__orders-empty__wrapper,
.user__orders-empty__wrapper-2 {
  display: none;
}

.user__orders-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &--top {
    margin-top: 11px;
  }
}

.user__orders-list {
  background: #FFFFFF;
  border-radius: 7px;
  padding: 20px 15px 10px;
}

.user__orders-number {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  &--1 {
    font-weight: bold;
  }

  &--2 {
    color: #BDBDBD;
  }
}

.user__orders-title::before {
  display: none;
}

.user__orders-item {
  padding: 20px 15px 10px;
  border: 1px solid #E0E0E0;
  border-radius: 7px;
  margin-bottom: 15px;
}

.user__orders-done {
  margin-left: 20px;
  position: relative;
}

.user__orders-done::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: -20px;
  width: 12px;
  height: 12px;
  background: #219653;
  border-radius: 10px;
}

.user__orders-done--red::before {
  background: #EB5757;
}

.user__orders-product__item1 {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.user__orders-product__item2 {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.user__orders-product {
  margin-bottom: 10px;
}

.user__orders-container {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding-top: 10px;
  margin-top: 20px;
}

.user__orders-list-1 {
  display: none;
}


@media (min-width: $tablet-width) {
  .user__orders-empty {
    width: 768px;
    margin-top: 45px;
    padding: 80px 0;
  }

  .user__orders-empty__header {
    margin: 0 0 45px;
  }

  .user__orders-img {
    width: 80px;
  }

  .user__orders-wrapper-3 {
    margin: 0;
    border-bottom: none;
  }

  .user__orders-second,
  .user__orders-container {
    display: none;
  }

  .user__orders-cost {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 7px;
  }

  .user__orders-title-2 {
    margin-top: 7px;
  }

  .user__orders-title-1 {
    width: 165px;
    font-size: 12px;
    margin: 0;
  }

  .user__orders-item-1 {
    margin-left: 20px;
  }

  .user__orders-list-1 {
    display: block;
    padding: 25px 0 0 0;
    margin: 33px 0 0 0;
    list-style: none;
    border-top: .7px solid rgba(79,79,79,.15);
    border-bottom: .7px solid rgba(79,79,79,.15);
  }

  .user__orders-title::before {
    display: block;
    left: 670px;
  }

  .user__orders-product__item1,
  .user__orders-product__item2 {
    font-size: 14px;
  }

  .user__orders-wrapper-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }

  .user__orders-list {
    margin-top: 40px;
  }

  .user__orders-wrapper-1 {
    display: flex;
  }

  .user__orders-wrapper {
    width: 265px;

    &--1 {
      width: 210px;
      margin-right: 39px;
    }

    &--top {
      margin-top: 0;
      width: 200px;
    }
  }

  .user__orders-empty__button {
    margin-left: 300px;
  }

  .user__orders-empty__wrapper {
    display: block;
    margin-top: 40px;
  }

  .user__orders-empty__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .user__orders-empty {
    width: 1600px;
    margin-top: 60px;
    padding: 100px 0;
  }

  .user__orders-empty__wrapper {
    display: none;
  }

  .user__orders-empty__title {
    font-size: 24px;
    line-height: 35px;
  }

  .user__orders-empty__wrapper-2 {
    display: block;
    padding-top: 70px;
  }

  .user__stars {
    padding-top: 200px;
  }

  .user__orders-empty__wrapper-2 .slider .bx-wrapper .bx-viewport ul {
    margin-left: 0;
  }

  .user__orders-empty__wrapper-2, .user__orders-empty__wrapper-2 .slider .bx-wrapper {
    background-color: transparent;
  }

  .user__orders-empty__wrapper-2 .slider .bx-wrapper .bx-controls-direction a {
    display: block;
  }

  .user__orders-empty__wrapper-2 .slider .bx-wrapper .bx-pager {
    display: block;
    background-color: transparent;
    text-align: center;
    width: 1110px;
  }

  .user__orders-empty__wrapper-2 .slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .user__orders-list {
    width: 1730px;
    margin-top: 40px;
  }

  .user__orders-wrapper-3 {
    width: 720px;
  }

  .user__orders-img {
    width: 90px;
    margin-top: -8px;
  }

  .user__orders-title::before {
    left: 720px;
  }

}
