html,
body {
  min-width: 320px;
}

body {
  padding: 0;
  margin: 0 auto;
  width: auto;
  font-family: "Quicksand", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: black;
}

@media (min-width: $tablet-width) {
  body {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: auto;
  }
}
