.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 330px;
  padding: 19px 82px 21px 0;

  list-style: none;
  text-decoration: none;
}

.social-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: -1px 22px 21px 20px;
}

.social-list__item a {
  text-decoration: none;
  color: black;

  &:hover {
    opacity: 0.5;
  }
}

.social-list__item a:hover {
  text-decoration: none;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    margin: 0;
    border-bottom: none;
  }

  .social-list__item {
    padding-bottom: 5px;
    @include font(14px, 20px, 300);
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    width: 350px;
  }

  .social-list__item {
    padding-bottom: 5px;
    @include font(18px, 30px, 300);
  }
}
